{% extends 'base.html' %}


{% block title %}Бронирования{% endblock %}

{% block content %}
<h1>Список бронирований</h1>
    {% if current_bookings %}
        {% for b in current_bookings %}
            <a href="{%url 'room_booking:detail' b.id%}">{{b.meeting_room}}: {{b.datetime_begin}}-{{b.datetime_end}}</a>
    <br>
    {% endfor %}
    {% else %}
        Нет текущих бронирований
    {% endif %}

<form action="/add_booking/" target="_blank">
   <button>Добавить бронирование</button>
</form>

<br>
<br>

<br>

{% endblock %}